* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
}



h1 {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 800;
}

h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

p {
  color: lightgrey;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: left;
  margin: 1rem 0;
}
p strong {
  color: white;
}

a {
  color: white;
}

ul, ol {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  list-style: initial;
  padding-left: 1rem;
}

img {
  display: inline;
}
img, video {
  width: 100%;
}

input[type="text"] {
  padding: .5rem 1rem;
  width: 100%;
  background: transparent;
  border: 1px solid white;
  border-radius: 999px;
}

navbar {
  background: #1C1C1C;
  display: block;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 999;
}
navbar * {
  vertical-align: middle;
}
navbar > * {
  display: inline-block;
  /* max-width: 720px; */
}
navbar .left {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  width: 33%;
}
navbar .right {
  color: lightgrey;
  font-size: .8rem;
  text-align: right;
  width: 65%;
}
navbar img {
  width: auto;
}
navbar a {
  text-decoration: none;
}

.button-group .button:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.button-group .button:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.button-group .button {
  border-radius: 0;
  border: 1px solid grey;
  color: lightgrey;
  padding: 1rem;
  margin: 0;
}
.button-group .button.selected {
  background-color: white;
  border-color: white;
  color: black;
}

.button {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}
.button.outline {
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  min-width: 12rem;
  padding: 1rem;
  text-align: center;
}
.button.solid {
  border-radius: 4px;
  width: 100%;
  min-width: 12rem;
  padding: 1rem;
  text-align: center;
  background: #2D9CDB;
  margin: 2rem auto;
}

.header-cta {
  background: #2D9CDB;
  padding: .5rem 1rem;
  border-radius: 999px;
  margin-left: 3px;
}

section {
  margin: 8rem 0 0 0;
}

.wrapper {
  width: 90%;
  max-width: 400px;
  margin: 0 auto 12rem auto;
  padding-top: 1px;
}

.wrapper img {
  width: 90%;
  margin: 0 0 1rem 0;
  max-width: 400px;
}

.hero img {
  max-width: 400px;
}

img.hwicon {
  max-width: 250px;
}

#software-individuals, #software-teams {
  margin-top: 6rem;
}

.price {
  font-size: 2rem;
  line-height: 4rem;
  color: rgb(43,178,255);
  /* background: rgb(255,15,87);
  background: -webkit-linear-gradient(286deg, rgba(255,15,87,1) 20%, rgba(187,107,217,1) 50%, rgba(43,178,255,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
#mc_embed_signup, #mc_embed_signup * {
  font: inherit;
  font-size: 1.2rem;
}
#mc_embed_signup input[type="submit"].button {
  background: #2D9CDB !important;
  /* height: 2.5rem !important; */
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 2rem;
  height: auto;
  line-height: normal;
  border-radius: 999px;
}
#mc_embed_signup input[type="email"] {
  background: black !important;
  border-color: lightgrey !important;
  padding: 1rem .5rem !important;
  font-size: 1.2rem;
  color: white;
  border-radius: 6px;
}
#mc_embed_signup input[type="checkbox"] {
  margin-right: .5rem;
}

section.separator {
  display: none;
}

.horizontal.software > * {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.horizontal.software img {
  width: 100%;
}
.strengthos {
  background-color: white;
  color: black;
  padding: 2rem 0;
  margin-top: 2rem;
}
.strengthos p, .strengthos a {
  color: #333;
}
.strengthos strong {
  color: black;
}
.strengthos .button {
  color: black;
  border-color: black;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 100%;
    max-width: 1440px;
  }

  navbar .left {
    font-size: 1.4rem;
  }
  navbar .right {
    font-size: 1rem;
  }
  .header-cta {
    padding: .6rem 2rem;
  }

  section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  section.separator {
    display: inline-block;
    width: 6%;
  }

  h1 {
    margin-top: 10rem;
  }
  .hero h1 {
    margin-top: 3rem;
  }

  .third-width, .half-width {
    text-align: left;
    margin-right: 3%;
    display: inline-block;
    vertical-align: top;
  }
  .third-width {
    width: 28%;
    max-width: 350px;
  }
  .half-width {
    width: 45%;
    margin-right: 5%;
    max-width: 500px;
  }
  .single-col {
    max-width: 500px;
    display: inline-block;
    margin-top: 0;
  }

  .horizontal {
    width: 98%;
  }
  .horizontal > * {
    vertical-align: middle;
  }
  .horizontal img {
    margin-right: 3%;
    width: 30%;
    max-width: 450px;
  }
  .horizontal .text-container {
    display: inline-block;
    width: 62%;
    max-width: 600px;
    text-align: left;
  }

  .strengthos {
    width: 100%;
  }
  .horizontal.software img {
    margin: 2rem 1rem 2rem 0;
  }
  .strengthos h1 {
    margin-top: 4rem;
  }
  .horizontal.software h2 {
    margin-bottom: 3rem;
  }

  .button.outline {
    width: auto;
  }
  .button-group {
    font-size: 2rem;
    margin-bottom: 8rem;
  }

  .slider-container {
    margin: 0 auto;
    max-width: 600px;
  }

  .tns-item img {
    max-height: 200px;
  }
}

.shopify-buy-frame {
  position: relative;
  color: black;
}
.shopify-buy__cart-item__title, .shopify-buy__cart-item__variant-title {
  text-align: left;
}
.shopify-buy-frame .shopify-buy__product {
  position: relative;
  margin: 0;
  display: block;
}

section.metrics {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.metrics p {
  font-size: 1rem;
  color: white;
}
