body {
  background-color: #1C1C1C;
  color: #FFF;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  margin-top: 3rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  margin: 4rem 0;
}

h1 {
  font-size: 3rem;
}

h2, h3 {
  font-weight: normal;
}

p {
  color: lightgrey;
}

input[type="text"] {
  padding: .5rem 1rem;
  width: 100%;
  background: transparent;
  border: 1px solid white;
  border-radius: 999px;
  margin: 0 auto;
}
