* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
}

h1 {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  color: lightgrey;
  font-size: 1.2rem;
  line-height: 2rem;
}

input[type="text"] {
  padding: .5rem 1rem;
  width: 100%;
  background: transparent;
  border: 1px solid white;
  border-radius: 999px;
}

navbar {
  background: #1C1C1C;
  display: block;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

navbar * {
  vertical-align: middle;
}

navbar .left {
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
}

navbar .right {
  float: right;
  color: lightgrey;
  font-size: .8rem;
}

.button-group .button:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.button-group .button:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.button-group .button {
  border-radius: 0;
  border: 1px solid grey;
  color: lightgrey;
  padding: 1rem;
  margin: 0;
}
.button-group .button.selected {
  background-color: white;
  border-color: white;
  color: black;
}

.button {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header-cta {
  background: #2D9CDB;
  padding: .5rem 1rem;
  border-radius: 999px;
}

section {
  margin: 8rem 0 0 0;
}

.wrapper {
  width: 90%;
  max-width: 400px;
  margin: 0 auto 12rem auto;
  padding-top: 4rem;
}

.wrapper img {
  width: 90%;
  margin: 0 0 1rem 0;
  max-width: 400px;
}

.hero img {
  max-width: 400px;
}

.hwicon {
  max-width: 250px;
}

#software-individuals section {
  margin-top: 3rem;
}

#software-individuals {
  margin-top: 6rem;
}

#mc_embed_signup * {
  width: 100% !important;
  border-radius: 999px !important;
}

#mc_embed_signup .button {
  background: #2D9CDB !important;
  border-radius: 999px !important;
  height: 2.5rem !important;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 100%;
    max-width: 1440px;
  }
  section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  h1 {
    margin-top: 10rem;
  }
  .hero h1 {
    margin-top: 3rem;
  }

  .third-width, .half-width {
    text-align: left;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
  }
  .third-width {
    width: 30%;
    max-width: 350px;
  }
  .half-width {
    width: 45%;
    max-width: 500px;
  }
  .single-col {
    max-width: 500px;
    display: inline-block;
    margin-top: 0;
  }

  .horizontal {
    width: 98%;
  }
  .horizontal > * {
    vertical-align: middle;
  }
  .horizontal img {
    margin-right: 2%;
    width: 30%;
    max-width: 450px;
  }
  .horizontal .text-container {
    display: inline-block;
    width: 65%;
    max-width: 600px;
    text-align: left;
  }

  .button-group {
    font-size: 2rem;
    margin-bottom: 8rem;
  }
}
