h1, h2, h3
	font-weight: 800
	text-align: center
	line-height: 1.2
	padding: 0 2rem
h1
	font-size: 72px
h2
	font-size: 64px
h3
	font-size: 42px

p, a
	color: grey
	font-size: 24px
	font-weight: 500

img
	max-width: 100%

.feature-block, .landing-hero
	padding: 4rem 0

.landing-hero
	background: black
	color: white

span
	color: black

.description
	padding: 0 2rem

.graphic
	text-align: center


@media (min-width: 800px)

	.feature-block
		display: grid
		grid-template-columns: auto minmax(50%, 1fr)
		max-width: 1280px
		margin: 0 auto

		.graphic
			grid-column-start: 1
			img
				max-height: 100vh
		.description
			grid-column-start: 2